.DS*
.zed/
log/
pjs/password
.password
pjs/vlid
pjs/aeltas
pjs/aithwenn
pjs/daliis
pjs/ereris
pjs/gravmaar
pjs/ivris
pjs/joisan
pjs/kaeelae
pjs/kerovan
pjs/lochlan
pjs/onur
pjs/orastas
pjs/saya
.*.swp
*.sh
*.png
*.map
lib/cons/*
untested/*
